@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (min-width: 1025px) {
  .header {
    margin: 55px 0 0 4.01%;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif; }
    .header .headerBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .headerBlock img {
        width: 150px; }
      .header .headerBlock .menu {
        margin-left: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 400px; }
        .header .headerBlock .menu a {
          opacity: 0.5;
          height: 20px;
          font-size: 1em;
          display: inline;
          color: black;
          text-decoration: none;
          padding: 0 10px 10px 10px; }
          .header .headerBlock .menu a:hover {
            -webkit-transition: 0.4s all;
            -o-transition: 0.4s all;
            transition: 0.4s all;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
          .header .headerBlock .menu a.active {
            opacity: 1;
            font-weight: 700; }
      .header .headerBlock .menuComplex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 400px;
        margin-left: 40px; }
        .header .headerBlock .menuComplex .menuNavigation {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .header .headerBlock .menuComplex .menuNavigation a {
            opacity: 0.5;
            height: 20px;
            font-size: 1em;
            display: inline;
            color: black;
            text-decoration: none;
            padding: 0 10px 10px 10px; }
            .header .headerBlock .menuComplex .menuNavigation a:hover {
              -webkit-transition: 0.4s all;
              -o-transition: 0.4s all;
              transition: 0.4s all;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
            .header .headerBlock .menuComplex .menuNavigation a.active {
              opacity: 1;
              font-weight: 700; }
        .header .headerBlock .menuComplex .menuAnchors {
          width: 90%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .header .headerBlock .menuComplex .menuAnchors a {
            opacity: 1;
            height: 20px;
            font-size: 1em;
            display: inline;
            color: black;
            text-decoration: none;
            padding: 5px 10px 0px 10px; }
            .header .headerBlock .menuComplex .menuAnchors a:hover {
              -webkit-transition: 0.4s all;
              -o-transition: 0.4s all;
              transition: 0.4s all;
              -webkit-transform: rotate(-25deg);
              -ms-transform: rotate(-25deg);
              transform: rotate(-25deg); }
        .header .headerBlock .menuComplex .menuAnchorsMobile {
          display: none; }
    .header .phone {
      font-size: 1em;
      line-height: 1.5em; }
      .header .phone span {
        font-weight: 700; } }

@media (max-width: 414px) {
  .header {
    padding: 17px 0 0 0;
    margin: 0 auto; }
    .header .headerBlock {
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 265px;
      font-family: "Open Sans", sans-serif; }
      .header .headerBlock .logo {
        display: none; }
      .header .headerBlock .logoMobile {
        width: 170px; }
      .header .headerBlock .menu {
        margin-top: 17px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .header .headerBlock .menu a {
          color: black;
          text-decoration: none;
          font-size: 0.8em; }
          .header .headerBlock .menu a:hover {
            -webkit-transition: 0.4s all;
            -o-transition: 0.4s all;
            transition: 0.4s all;
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg); }
          .header .headerBlock .menu a.active {
            border-bottom: 1px solid black;
            line-height: 1.1em; }
      .header .headerBlock .menuComplex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .header .headerBlock .menuComplex .menuNavigation {
          margin-top: 19px;
          width: 265px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .header .headerBlock .menuComplex .menuNavigation a {
            color: black;
            text-decoration: none;
            font-size: 0.8em; }
            .header .headerBlock .menuComplex .menuNavigation a:hover {
              -webkit-transition: 0.4s all;
              -o-transition: 0.4s all;
              transition: 0.4s all;
              -webkit-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              transform: rotate(360deg); }
            .header .headerBlock .menuComplex .menuNavigation a.active {
              border-bottom: 1px solid black;
              line-height: 1.1em; }
        .header .headerBlock .menuComplex .menuAnchors {
          display: none; }
        .header .headerBlock .menuComplex .menuAnchorsMobile {
          margin-top: 10px;
          width: 100vw;
          height: 35px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          background-color: black; }
          .header .headerBlock .menuComplex .menuAnchorsMobile .anchorLinks {
            width: 217px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            .header .headerBlock .menuComplex .menuAnchorsMobile .anchorLinks a {
              color: white;
              text-decoration: none;
              font-size: 0.8em; }
    .header .phone {
      display: none; } }

@media (min-width: 1025px) {
  .headerExtended {
    padding: 60px 0 0 6.302%; }
    .headerExtended .logo {
      width: 59.67%; }
    .headerExtended .logoMobile {
      display: none; }
    .headerExtended .menu {
      margin-top: 7px;
      margin-left: 7px;
      width: 31.6%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .headerExtended .menu a {
        color: black;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        font-size: 1em;
        padding: 0 10px 10px 10px; }
        .headerExtended .menu a:hover {
          -webkit-transition: 0.4s all;
          -o-transition: 0.4s all;
          transition: 0.4s all;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        .headerExtended .menu a.active {
          font-weight: 700; } }

@media (min-width: 415px) and (max-width: 1024px) {
  .headerExtended {
    padding: 60px 0 0 6.302%; }
    .headerExtended .logo {
      width: 85%; }
    .headerExtended .logoMobile {
      display: none; }
    .headerExtended .menu {
      margin-top: 7px;
      margin-left: 7px;
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .headerExtended .menu a {
        color: black;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        font-size: 1em;
        padding: 0 10px 10px 10px; }
        .headerExtended .menu a:hover {
          -webkit-transition: 0.4s all;
          -o-transition: 0.4s all;
          transition: 0.4s all;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        .headerExtended .menu a.active {
          font-weight: 700; } }

@media (max-width: 414px) {
  .headerExtended {
    padding: 17px 0 0 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 265px; }
    .headerExtended .logo {
      display: none; }
    .headerExtended .logoMobile {
      width: 170px; }
    .headerExtended .menu {
      margin-top: 17px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .headerExtended .menu a {
        color: black;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        font-size: 0.8em; }
        .headerExtended .menu a:hover {
          -webkit-transition: 0.4s all;
          -o-transition: 0.4s all;
          transition: 0.4s all;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        .headerExtended .menu a.active {
          border-bottom: 1px solid black;
          line-height: 1.1em; } }

.calcImage {
  position: absolute; }

@media (min-width: 1025px) {
  .calcImage {
    width: 4.479%;
    -webkit-transform: translate3d(calc(50vw - (4.479% / 2)), 30vh, 0);
    transform: translate3d(calc(50vw - (4.479% / 2)), 30vh, 0); } }

@media (min-width: 415px) and (max-width: 1024px) {
  .calcImage {
    width: 9%;
    -webkit-transform: translate3d(calc(50vw - (9% / 2)), 30vh, 0);
    transform: translate3d(calc(50vw - (9% / 2)), 30vh, 0); } }

@media (max-width: 414px) {
  .calcImage {
    width: 60px;
    -webkit-transform: translate3d(calc(50vw - 30px), 28vh, 0);
    transform: translate3d(calc(50vw - 30px), 28vh, 0); } }

@media (min-width: 1024px) {
  .adressAndInfo {
    margin-left: calc((100vw - 86.882%)/2);
    width: 86.882%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    bottom: 31px; }
    .adressAndInfo p {
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.3em; }
    .adressAndInfo p:first-of-type {
      width: 150px; }
    .adressAndInfo p:last-of-type {
      width: 168px;
      text-align: right; } }

@media (min-width: 415px) and (max-width: 1024px) {
  .adressAndInfo {
    margin-left: calc((100vw - 86.882%)/2);
    width: 86.882%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    bottom: 31px; }
    .adressAndInfo p {
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.3em; }
    .adressAndInfo p:first-of-type {
      width: 150px; }
    .adressAndInfo p:last-of-type {
      width: 168px;
      text-align: right; } }

@media (max-width: 414px) {
  .adressAndInfo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 10px; }
    .adressAndInfo p {
      font-family: "Open Sans", sans-serif;
      font-size: 0.9em;
      font-weight: 700;
      line-height: 1.2em;
      text-align: center; }
    .adressAndInfo p:first-of-type {
      width: 150px; }
    .adressAndInfo p:last-of-type {
      display: none; } }

@media (min-width: 1025px) {
  .aboutus {
    width: 68%;
    padding: 246px 0 0 6.302%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .aboutus p {
      font-family: "Open Sans", sans-serif;
      font-size: 1.4em;
      line-height: 1.4em; }
    .aboutus .buttonBlock {
      margin-top: 64px;
      width: 562px;
      height: 68px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-family: "Open Sans", sans-serif; }
      .aboutus .buttonBlock .consult {
        cursor: pointer;
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 1.1em;
        background-color: black;
        color: #FFEDD8;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: 0.15s all;
        -o-transition: 0.15s all;
        transition: 0.15s all; }
        .aboutus .buttonBlock .consult:hover {
          background-color: #FFEDD8;
          color: black;
          border: 1px solid black;
          border-right: 0; }
      .aboutus .buttonBlock a {
        width: 50%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 1.1em;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid black;
        color: black;
        -webkit-transition: 0.15s all;
        -o-transition: 0.15s all;
        transition: 0.15s all; }
        .aboutus .buttonBlock a:hover {
          background-color: black;
          color: #FFEDD8; } }

@media (min-width: 415px) and (max-width: 1024px) {
  .aboutus {
    width: 80%;
    padding: 246px 0 0 6.302%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .aboutus p {
      font-family: "Open Sans", sans-serif;
      font-size: 1.2em;
      line-height: 1.3em; }
    .aboutus .buttonBlock {
      margin-top: 34px;
      width: 400px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-family: "Open Sans", sans-serif; }
      .aboutus .buttonBlock .consult {
        cursor: pointer;
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 1em;
        background-color: black;
        color: #FFEDD8;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: 0.15s all;
        -o-transition: 0.15s all;
        transition: 0.15s all; }
        .aboutus .buttonBlock .consult:hover {
          background-color: #FFEDD8;
          color: black;
          border: 1px solid black;
          border-right: 0; }
      .aboutus .buttonBlock a {
        width: 50%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 1em;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid black;
        color: black;
        -webkit-transition: 0.15s all;
        -o-transition: 0.15s all;
        transition: 0.15s all; }
        .aboutus .buttonBlock a:hover {
          background-color: black;
          color: #FFEDD8; } }

@media (max-width: 414px) {
  .aboutus {
    width: 289px;
    margin: 61 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .aboutus p {
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      line-height: 1.7em; }
    .aboutus .buttonBlock {
      margin-top: 57px;
      width: 289px;
      height: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-family: "Open Sans", sans-serif; }
      .aboutus .buttonBlock .consult {
        cursor: pointer;
        width: 100%;
        height: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 1em;
        background-color: black;
        color: #FFEDD8;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: 0.15s all;
        -o-transition: 0.15s all;
        transition: 0.15s all; }
        .aboutus .buttonBlock .consult:hover {
          background-color: #FFEDD8;
          color: black;
          border: 1px solid black;
          border-right: 0; }
      .aboutus .buttonBlock a {
        width: 100%;
        height: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 1em;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid black;
        color: black;
        -webkit-transition: 0.15s all;
        -o-transition: 0.15s all;
        transition: 0.15s all; }
        .aboutus .buttonBlock a:hover {
          background-color: black;
          color: #FFEDD8; } }

@media (min-width: 1025px) {
  .contactBlock {
    margin: 161px 0 0 6.302%;
    font-family: "Open Sans", sans-serif; }
    .contactBlock p {
      font-size: 1.7em;
      font-weight: 300;
      line-height: 1.23em;
      padding-bottom: 32px; }
      .contactBlock p #map {
        border-bottom: 1px solid black;
        cursor: pointer; }
      .contactBlock p #mapMobile {
        display: none; }
    .contactBlock a {
      font-size: 1.7em;
      font-weight: 700;
      text-decoration: none;
      color: black; }
  .map {
    margin: 53px 0 0 6.302%;
    width: 85.677%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .map .closeMap {
      margin-bottom: 28px;
      width: 28px;
      height: 28px;
      background-image: url(../img/close.svg);
      cursor: pointer; }
    .map iframe {
      display: block;
      width: 100%;
      height: 736px; }
  #mapWrapper {
    display: none; } }

@media (min-width: 415px) and (max-width: 1024px) {
  .contactBlock {
    margin: 161px 0 0 6.302%;
    font-family: "Open Sans", sans-serif; }
    .contactBlock p {
      font-size: 1.7em;
      font-weight: 300;
      line-height: 1.23em;
      padding-bottom: 32px; }
      .contactBlock p #map {
        border-bottom: 1px solid black;
        cursor: pointer; }
      .contactBlock p #mapMobile {
        display: none; }
    .contactBlock a {
      font-size: 1.7em;
      font-weight: 700;
      text-decoration: none;
      color: black; }
  .map {
    margin: 53px 0 0 6.302%;
    width: 85.677%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .map .closeMap {
      margin-bottom: 28px;
      width: 28px;
      height: 28px;
      background-image: url(../img/close.svg);
      cursor: pointer; }
    .map iframe {
      display: block;
      width: 100%;
      height: 736px; }
  #mapWrapper {
    display: none; } }

@media (max-width: 414px) {
  .contactBlock {
    margin: 104px auto;
    width: 280px;
    font-family: "Open Sans", sans-serif; }
    .contactBlock a {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 1em;
      font-weight: 700;
      text-decoration: none;
      color: black; }
    .contactBlock p {
      width: 100%;
      text-align: center;
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.23em;
      padding-bottom: 32px; }
      .contactBlock p #map {
        display: none; }
      .contactBlock p #mapMobile {
        display: inline;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.23em;
        border-bottom: 1px solid black; }
  .map {
    margin: 53px 0 0 6.302%;
    width: 85.677%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .map .closeMap {
      margin-bottom: 28px;
      width: 28px;
      height: 28px;
      background-image: url(../img/close.svg);
      cursor: pointer; }
    .map iframe {
      display: block;
      width: 100%;
      height: 736px; }
  #mapWrapper {
    display: none; } }

@media (min-width: 1025px) {
  .faqWrapper {
    margin: 121px 0 0 calc(4.01% + 190px);
    width: 77.44%;
    border-top: 1px solid black; }
    .faqWrapper .questionWrapper {
      position: relative;
      font-family: "Open Sans", sans-serif;
      font-size: 1.7em;
      line-height: 1.2em;
      font-weight: 300;
      border-bottom: 1px solid black; }
      .faqWrapper .questionWrapper .question {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 30px 0; }
        .faqWrapper .questionWrapper .question p {
          width: 60%; }
      .faqWrapper .questionWrapper .open {
        width: 38px;
        height: 38px;
        background-image: url(../img/open.svg);
        cursor: pointer;
        -webkit-transition: 0.4s all;
        -o-transition: 0.4s all;
        transition: 0.4s all; }
      .faqWrapper .questionWrapper .answerWrapper {
        display: none;
        border-top: 1px solid black;
        -webkit-transition: 0.4s all;
        -o-transition: 0.4s all;
        transition: 0.4s all; }
        .faqWrapper .questionWrapper .answerWrapper div {
          padding: 30px 0 30px 40px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .faqWrapper .questionWrapper .answerWrapper div .circle {
            padding: 0;
            margin-right: 20px;
            border: 1px solid black;
            border-radius: 1500px;
            width: 27px;
            height: 27px; }
          .faqWrapper .questionWrapper .answerWrapper div p {
            width: 90%; }
    .faqWrapper .rotate {
      -webkit-transition: 0.4s all;
      -o-transition: 0.4s all;
      transition: 0.4s all;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); } }

@media (max-width: 414px) {
  .faqWrapper {
    margin: 71px auto;
    width: 90%;
    border-top: 1px solid black; }
    .faqWrapper .questionWrapper {
      position: relative;
      font-family: "Open Sans", sans-serif;
      font-size: 1.3em;
      line-height: 1.2em;
      font-weight: 300;
      border-bottom: 1px solid black; }
      .faqWrapper .questionWrapper .question {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 15px 0; }
        .faqWrapper .questionWrapper .question p {
          width: 90%; }
      .faqWrapper .questionWrapper .open {
        width: 17px;
        height: 17px;
        background-image: url(../img/open.svg);
        background-size: cover;
        cursor: pointer;
        -webkit-transition: 0.4s all;
        -o-transition: 0.4s all;
        transition: 0.4s all; }
      .faqWrapper .questionWrapper .answerWrapper {
        display: none;
        border-top: 1px solid black;
        -webkit-transition: 0.4s all;
        -o-transition: 0.4s all;
        transition: 0.4s all; }
        .faqWrapper .questionWrapper .answerWrapper div {
          padding: 15px 0 15px 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .faqWrapper .questionWrapper .answerWrapper div .circle {
            padding: 0;
            margin-right: 20px;
            border: 1px solid black;
            border-radius: 15px;
            width: 15px;
            height: 15px; }
          .faqWrapper .questionWrapper .answerWrapper div p {
            width: 90%; }
    .faqWrapper .rotate {
      -webkit-transition: 0.4s all;
      -o-transition: 0.4s all;
      transition: 0.4s all;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); } }

@media (min-width: 1025px) {
  .servicesWrapper {
    margin: calc(107px - 25px) 0 0 4.01%;
    font-family: "Open Sans", sans-serif; }
    .servicesWrapper .serviceBlock {
      width: 90%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .servicesWrapper .serviceBlock .serviceName {
        font-size: 20px;
        width: 15%;
        height: 35px;
        border-bottom: 1px solid black;
        margin-right: 64px; }
      .servicesWrapper .serviceBlock .services {
        width: calc(100% - 15% - 64px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column; }
        .servicesWrapper .serviceBlock .services .service {
          width: 31.15%; }
        .servicesWrapper .serviceBlock .services .time {
          width: 23.52%; }
        .servicesWrapper .serviceBlock .services .price {
          width: 17%; }
        .servicesWrapper .serviceBlock .services .documents {
          width: calc(100% - 31.15% - 23.52% - 17% - 80px);
          text-align: right;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .servicesWrapper .serviceBlock .services .documents a {
            display: block;
            width: 34px;
            height: 20px;
            background-image: url(../img/download.svg);
            background-size: contain;
            background-repeat: no-repeat; }
        .servicesWrapper .serviceBlock .services .servicesRowHeader {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          font-weight: 700;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0 15px 19px 40px;
          border-bottom: 1px solid black;
          text-transform: uppercase; }
        .servicesWrapper .serviceBlock .services .servicesRow {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          padding: 25px 10px 20px 40px;
          border-bottom: 1px solid black;
          text-transform: uppercase; }
    .servicesWrapper .notTheFirst {
      margin-top: 30px; } }

@media (max-width: 414px) {
  .servicesWrapper {
    width: 90vw;
    margin: 40px auto 0;
    font-family: "Open Sans", sans-serif; }
    .servicesWrapper .serviceBlock .serviceName {
      display: none; }
    .servicesWrapper .serviceBlock .services {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column; }
      .servicesWrapper .serviceBlock .services .service {
        width: 38.10%; }
        .servicesWrapper .serviceBlock .services .service p {
          -webkit-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          max-width: 70%;
          line-height: 1.3em; }
      .servicesWrapper .serviceBlock .services .time {
        width: 28.09%; }
      .servicesWrapper .serviceBlock .services .price {
        width: 30.21%; }
      .servicesWrapper .serviceBlock .services .documents {
        width: calc(100% - 38.10% - 28.09% - 30.21%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        .servicesWrapper .serviceBlock .services .documents a {
          display: block;
          width: 20px;
          height: 24px;
          background-image: url(../img/downloadMobile.svg);
          background-size: contain;
          background-repeat: no-repeat; }
        .servicesWrapper .serviceBlock .services .documents#mobileDocuments {
          display: none; }
      .servicesWrapper .serviceBlock .services .servicesRowHeader {
        font-size: 0.9em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        font-weight: 700;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 0px 7px 0px;
        border-bottom: 1px solid black;
        text-transform: uppercase; }
      .servicesWrapper .serviceBlock .services .servicesRow {
        font-size: 0.8em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 16px 0px 16px 0px;
        border-bottom: 1px solid black;
        text-transform: uppercase; }
    .servicesWrapper .notTheFirst {
      margin-top: 30px; } }

@media (min-width: 1025px) {
  .promotion {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0px;
    width: 100%;
    height: 44px;
    background-color: black;
    padding: 0 20px;
    font-family: "Open Sans", sans-serif;
    color: white; }
    .promotion p {
      font-style: italic;
      font-size: 1.3em; }
      .promotion p img {
        margin-left: 5px;
        -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
        transform: translateY(3px); }
    .promotion .closePromotion {
      position: absolute;
      left: calc(100vw - 40px);
      top: 12px;
      width: 20px;
      height: 20px;
      background-image: url(../img/closePromotion.svg);
      cursor: pointer; } }

@media (max-width: 414px) {
  .promotion {
    display: none; } }

@media (min-width: 1025px) {
  .phoneMobile {
    display: none; } }

@media (max-width: 414px) {
  .phoneMobile {
    width: 100vw;
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: -20px; }
    .phoneMobile p {
      width: 200px; }
    .phoneMobile a {
      color: black;
      text-decoration: none; } }

.beige {
  background-color: #FFEDD8; }

body {
  padding-bottom: 100px; }
