@media (min-width: 1025px){

  .headerExtended{
    padding: 60px 0 0 6.302%;
    .logo{
      width: 59.67%;
    }
    .logoMobile{
      display: none;
    }
    .menu{
      margin-top: 7px;
      margin-left: 7px;
      width: 31.6%;
      display: flex;
      justify-content: space-between;
      a{
        color: black;
        font-family: $font;
        text-decoration: none;
        font-size: 1em;
        padding: 0 10px 10px 10px;
        &:hover{
          transition: 0.4s all;
          transform: rotate(45deg);
        }
        &.active{
          font-weight: 700;
        }
      }
    }
  }
}

@media (min-width: 415px) and (max-width: 1024px){
  .headerExtended{
    padding: 60px 0 0 6.302%;
    .logo{
      width: 85%;
    }
    .logoMobile{
      display: none;
    }
    .menu{
      margin-top: 7px;
      margin-left: 7px;
      width: 50%;
      display: flex;
      justify-content: space-between;
      a{
        color: black;
        font-family: $font;
        text-decoration: none;
        font-size: 1em;
        padding: 0 10px 10px 10px;
        &:hover{
          transition: 0.4s all;
          transform: rotate(45deg);
        }
        &.active{
          font-weight: 700;
        }
      }
    }
  }
}


@media (max-width: 414px){
  .headerExtended{
    padding: 17px 0 0 0;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 265px;
    .logo{
      display: none;
    }
    .logoMobile{
      width: 170px;
    }
    .menu{
      margin-top: 17px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      a{
        color: black;
        font-family: $font;
        text-decoration: none;
        font-size: 0.8em;
        &:hover{
          transition: 0.4s all;
          transform: rotate(45deg);
        }
        &.active{
          border-bottom: 1px solid black;
          line-height: 1.1em;
        }
      }
    }
  }
}
